*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link, a , a:active{
    color: black;
    text-decoration: none;
    font-style: normal;
    transition: all 300ms ease-in-out;
}
a:hover{
    color: #ffc100;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: hidden;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 15px;
    transition: all 300ms ease-in-out;
}
.close-icone span{
    font-size: 10px;
    font-weight: normal;
    padding-left: 5px;
}
.side-bar{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    min-width: 3rem;
    padding: 10px;
    border-right: 1px solid #f6f6f6;
    border-radius: 10px;
    justify-content: center;
    transition: all 300ms ease-in-out ;
}
.hero-Section{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 50px;
    transition: all 300ms ease-in-out;
    padding-left: 10px;
}
.opened{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    gap: 5px;
}
.closed{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.prompt-answers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: .6;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgb(249, 249, 249); ;
}
.prompt{
    position: relative;
    display: flex;
    align-items: center;
    min-width: 10%;
    height: 12%;
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 10px 1px rgb(215, 215, 215) ;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.prompt input{
    display: flex;
    border: none;
    outline: none;
    min-width: 10px;
    flex:1;
    height: 100%;
    padding-left:10px;
    padding-right:10px;
    font-size: 20px;
    background-color: transparent;
}
.options{
    position: absolute;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom:100px;
    z-index: 10000;
    transition: all 300ms ease-in-out;
}
.more-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
}
.more-options a{
    color: black;
    font-style: normal;
}
.more-options i{
    color: black;
    font-style: normal;
}
.bi.bi-x-square-fill{
    text-align: end;
}
.options span{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}
.options .more-options i{
    font-size: 15px;
    gap: 10px;
}
.options i{
    color: black;
    transition: all 300ms ease-in-out;
}
.options i:hover{
    color: #ffc100;
}
.options .sending{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 149, 255);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: -5px;
    color: white;
    transition: all 300ms ease-in-out;
}
.options .sending:hover{
    background-color: #ffc100;
    color: #000;
}
.options span input{
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
.pictureUpload{
    width: 50%;
    min-height: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.savedGenerated-videos i{
    margin-right: 1px;
}
.savedGenerated-videos{
    position: absolute;
    background-color: #f6f6f6;
    top: 0;
    right: 40px;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 100000;
}
.intro-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.hide{
    display: none;
}
.logo{
    width: 100%;
    display: flex;
}
.logo-items{
    display: flex;
    flex:1;
}
.screen-mode{
    display: flex;
    padding-right: 20px;
}
.screen-mode i{
    margin-left: 10px;
    font-size: 20px;
}
.logo p{
    text-align: start;
    padding-left: 10px;
}
.prompt i{
    margin-left: 2px;
    font-size: 20px;
}
.logo h3{
    font-weight: bolder;
}
.logo span{
    font-weight: normal;
    font-size: 8px;
}
h3 i{
    padding-right: 5px;
}
.onoff{
    position: relative;
    width: 20px;
    margin-right: 10px;
}
.onoff i{
    position: absolute;
}
.side-bar-nightmode{
    background-color: #2d2d2d;
    border-right: 1px solid #29292930;
    color:white;
}
.icon-nightmode{
    color:#ffc100;
    transition: all 300ms ease-in-out;
}
.icon-nightmode:hover{
    color:#aaff00;
}
.body-nightmode{
    background-color: #4e4f39;  
}
.hero-nightmode{
    background-color: transparent;
}
.prompt-a-nightmode{
    background-color: #2d2d2d;
    box-shadow: 2px 2px 10px 1px #0000000d;
}
.prompt-a-nightmode p{
    color: white;
}
.prompt-nightmode{
    background-color: #2d2d2d;
    box-shadow: 2px 2px 10px 1px #2d2d2d01;
    color: white;
}
.input-nightmode{
    background-color: rgb(10, 10, 0);
    color: #f6f6f6;
}
.prompt-nightmode .options{
    background-color: #2d2d2d;
    box-shadow: 0px 0px 12px -2px rgb(32 32 32);
}
.prompt-nightmode .options i{
    color: white;
}
.prompt-nightmode .options i:hover{
    color: #ffc100;
}
i{
    cursor: pointer;
}
.opened i{
    display: flex;
    gap: 17px;
    align-items: center;
    font-style: normal;
}
.intro-emoji{
    width: 30px;
}
.member{
    display: flex;
    flex: .1;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    margin-left: -20px;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.member:hover{
    background-color: #d2d2d2;
}
.member a p{
    display: inline-block;
    color: #ffc100;
}
.member a{
    display: flex;
    gap: 10px;
    color: #ffc100;
}
.member:hover a{
    color:rgb(0, 0, 0);
}
.member:hover a p{
    color:rgb(0, 0, 0);
}
.bi.bi-x-lg{
    margin: 10px;
    justify-content: end;
}
.search-conteiner{
    display: flex;
    flex-direction: row;
    width:100%;
    min-height: 12px;
    border: none;
    box-shadow: 2px 2px 10px 1px rgb(215, 215, 215);
    border-radius: 10px;
    padding: 10px;
    margin-left: -10px;
}
.searching-bar{
    width:100%;
    min-height: 2px;
    border: none;
    outline: none;
    background-color: transparent;
}
.close-icone{
    display: flex;
    flex-direction: row;
}
.close-icone .logo-items{
    display: flex;
    flex: 1;
    font-size: 15px;
}
.close-icone .logo-items h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
}
.background-video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.grade-view{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 10px;
}
.search-conteiner-nightmode{
    background-color: #ffc100;
    box-shadow: 2px 2px 10px 1px rgba(7, 7, 7, 0);
    color: #f6f6f6;
}
.search-conteiner-nightmode .searching-bar{
    color: #000;
}
.member-night-mode{
    border: 1px solid rgb(71, 71, 71);
    box-shadow: 2px 2px 10px 1px rgba(7, 7, 7, 0);
    color: red;
    transition: all 300ms ease-in-out;
}
.member-night-mode p{
    color: white;
}
.member-night-mode a p{
    color: #ffc100;
}
.member-night-mode:hover{
    background-color: #ffc100;
}
.member-night-mode:hover p{
    color: #000;
}
.member-night-mode:hover i{
    color: #000;
}
.hero-Section-nightmode-h3{
    color: white;
}
.search-conteiner-nightmode ::-webkit-input-placeholder{
    color: #000;
}
.prompt-nightmode ::-webkit-input-placeholder{
    color: #ffffff;
}
.prompt-nightmode .options ::-webkit-input-placeholder{
    color: rgb(80, 80, 80);
}
.pictureUpload i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-size: 10px;
}
.prompt-nightmode .pictureUpload i{
    color: #000;
}
.pictureUpload .files{
    display: none;
    background-color: white;
}
@media (max-width:680px){
    .change{
        transition: all 300ms ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    body{
        padding-right: 10px;
    }
    .prompt{
        display: flex;
        align-items: center;
        min-width: 10%;
        height: 12%;
        width: 80%;
        background-color: white;
        border: none;
        border-radius: 50px;
        box-shadow: 2px 2px 10px 1px rgb(215, 215, 215) ;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 90px;
    }
    .prompt input{
        display: flex;
        border: none;
        outline: none;
        min-width: 10px;
        flex:1;
        height: 100%;
        padding-left:10px;
        padding-right:10px;
        font-size: 15px;
        background-color: transparent;
    }
    .prompt-a-nightmode p{
        color: white;
    }
    .prompt-nightmode{
        background-color: #2d2d2d;
        box-shadow: 2px 2px 10px 1px #2d2d2d01;
        color: white;
    }
    .input-nightmode{
        background-color: rgb(10, 10, 0);
        color: #f6f6f6;
    }
}
