*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-gap: 10px;
    overflow-y: hidden;

}
.upload-picture{
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    top:25%;
    left: 30%;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 2px 4px 2px rgb(214, 214, 214);
    transition: all ease-in-out 300ms;
}
.hide{
    
    display: none;
}
a{
    text-decoration: none;
    color: black;
    transition: all ease-in-out 300ms;
}
a:clicked{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}
.upload-picture i{
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.upload-picture i span{
    font-size: 20px;
}
.logo-home{
    width: 38%;
    min-width: 100px;
    height: fit-content;
    max-width: 200px;
}
.conteiner-hero{
    display: flex;
    justify-content: normal;
    flex-direction: column;
}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
    background-color: #003D5B;
    min-height: 100vh;
    transition: all 300ms ease-in-out;
    position: relative;
}
aside i{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: white;
    transition: all 300ms ease-in-out;
}
aside i:hover{
    font-size: 21px;
    cursor: pointer;
    color: rgb(0, 191, 255);
}
aside i:hover .ct{
    display: flex;
    position:absolute;
    background-color: rgb(41, 41, 41);
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    width: 100px;
    height: fit-content;
    font-weight: lighter;
    font-size: small;
    border-radius: 10px;
    left:35px;
    top:0;
}
.slideLeft{
    width: 3rem;
}
.open{
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 191, 255);
}
.opened{
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 10px;
    min-height: 100vh;
}
i p{
    display: none;
    color: white;
    padding-left: 5px;
    font-size: 15px;
    font-style: normal;
    transition: all 300ms ease-in-out;
}
.option-menu i p{
    padding-left: 0px;
}
.showText{
    display: block;
    color: white;
    font-size: 15px;
    font-style: normal;
    padding-left: 20px;
}
.closed{
    display: none;
    color: red;
    padding-left: 15px;
    transition: all 300ms ease-in-out;
}
.search-box{
    display: flex;
    justify-content: center;
}
.noStyle:hover{
    font-size: 20px;
    color: rgb(0, 191, 255);
}
.Logo{
    display: flex;
    justify-content: center;
}
.text-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search-conteiner{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(139, 139, 139);
    align-items: center;
    border: none;
    height: 70px;
    border-radius: 40px;
    padding: 10px;
    width: 50%;
    min-width: 50px;
    max-width: 700px;
}
.search{
    outline: none;
    padding-left: 10px;
    border: none;
    flex: 1;
    min-width: 10px;
}
.picture-ads{
    width: 30%;
    max-width: 300px;
    min-width: 100px;
}
i{
    position: relative;
}
aside i .ct{
    display: none;
    position:absolute;
    background-color: rgb(41, 41, 41);
    transition: all 300ms ease-in-out;
}
.hidding{
    display: none;
}
.option-menu{
    display: none;
    position: absolute;
    list-style: none;
    width: fit-content;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 2px 4px 2px rgb(214, 214, 214);
    padding: 19px;
}
.option-menu li{
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 7px;
    width: 148px;
    border: none;
    border-radius: 10px;
}
.files{
    display: none;
}
.option-menu li:hover{
   color: rgb(0, 145, 255);
   background-color: rgb(233, 252, 61);
   cursor: pointer;
}
div .upload-picture{
    display: flex;
}
@media (min-width:803px){
    .search-conteiner{
        display: flex;
        background-color: white;
        align-items: center;
        box-shadow: 1px 1px 2px rgb(139, 139, 139);
        border: none;
        border-radius: 50px;
        padding: 10px;
        width: 50%;
        height: 80px;
        min-width: 50px;
        max-width: 700px;
    }
    .logo-home{
        width: 78%;
        min-width: 200px;
        height: fit-content;
        max-width: 350px;
    } 
}
@media (max-width:641px){
    .logo-home{
        width: 58%;
        min-width: 200px;
        height: fit-content;
        max-width: 300px;
    } 
}
@media (max-width:575px){
    .logo-home{
        width: 58%;
        min-width: 200px;
        height: fit-content;
        max-width: 300px;
    } 
    body{
        display: grid;
        grid-template-rows: .1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    
    }
    .side-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        background-color: #003D5B;
        min-height: 4rem;
        transition: all 300ms ease-in-out;
        position: relative;
    }
    .slideLeft{
        width: 100vw;
    }
    aside p{
        display: none;
    }
    .open{
        display: none;
    }
    .closed{
        display: none;
    }
    .opened{
        display: none;
    }
    aside i:hover .ct{
        display: none;
        position:absolute;
        background-color: rgb(41, 41, 41);
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
        width: 110px;
        height: fit-content;
        font-weight: lighter;
        font-size: small;
        border-radius: 10px;
        left:20px;
        top:40px;
    }
    span{
        display: none;
    }
    .upload-picture{
        position: absolute;
        width: 60%;
        height: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:white;
        top:30%;
        left: 20%;
        border: none;
        border-radius: 20px;
        box-shadow: 3px 2px 4px 2px rgb(214, 214, 214);
        transition: all ease-in-out 300ms;
    }
}
@media (max-width:499px){
    .logo-home{
        width: 58%;
        min-width: 200px;
        height: fit-content;
        max-width: 300px;
    } 
    body{
        display: grid;
        grid-template-rows: .1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    
    }
    .side-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        background-color: #003D5B;
        min-height: 4rem;
        transition: all 300ms ease-in-out;
        position: relative;
    }
    .slideLeft{
        width: 100vw;
    }
    aside p{
        display: none;
    }
    .open{
        display: none;
    }
    .closed{
        display: none;
    }
    .opened{
        display: none;
    }
    aside i:hover .ct{
        display: none;
       
        background-color: rgb(41, 41, 41);
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
        width: 110px;
        height: fit-content;
        font-weight: lighter;
        font-size: small;
        border-radius: 10px;
        left:20px;
        top:40px;
    }
    .hide{
    
        display: none;
    }
    .delete-mobile{
        display: none;
    }
    span{
        display: none;
    }
}
@media (max-width:320px){
    span{
        display: none;
    }
    .delete-s-screen{
        display: none;
    }
    .logo-home{
        width: 58%;
        min-width: 200px;
        height: fit-content;
        max-width: 300px;
    } 
    body{
        display: grid;
        grid-template-rows: .1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    
    }
    .side-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        background-color: #003D5B;
        min-height: 4rem;
        transition: all 300ms ease-in-out;
        position: relative;
    }
    .slideLeft{
        width: 100vw;
    }
    aside p{
        display: none;
    }
    .open{
        display: none;
    }
    .closed{
        display: none;
    }
    .opened{
        display: none;
    }
   
    .ct{
        display: none;
    }
    .delete-mobile{
        display: none;
    }
    .upload-picture{
        position: absolute;
        width: 63%;
        height: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:white;
        top:30%;
        left: 20%;
        border: none;
        border-radius: 20px;
        box-shadow: 3px 2px 4px 2px rgb(214, 214, 214);
        transition: all ease-in-out 300ms;
    }
    .hide{
    
        display: none;
    }
}
